body{
    background: none #fff;
    color: #666;
    font-size: 13px;
}
a {
    color: #ff0000;
    text-decoration: none;
}
a:hover,
a:active,
a:focus,
a:visited{
    color: #29abe2;
    text-decoration: none;
}