body{
    background: none #fff;
    color: #666;
    font-size: 13px;
    font-family: FreeSans,Helvetica,Arial,Verdana,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {}
/*headings*/
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,.portletHeader a{
    color: #333;
}
h1.documentFirstHeading{
    border-bottom: none;
}

/*link*/
a {
    color: #A9050A;
    text-decoration: none;
}
a:hover,
a:active,
a:focus{
    color: #29abe2;
    text-decoration: none;
}

label .label{
    color: inherit;
    font-size: inherit;
    padding: 0;
}

//success bg
.success{
    background-color: #dff0d8;
}

#content-core a{
    border-bottom: none;
}