//Custom CSS
body{
    background: none #fff;
    color: #666;
    font-size: 13px;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a{
    color: #333;    
}

#header-bar{
    .branding{
        text-align: center;
        a{
            float: none;
        }
    }
    
    .main-menu{
        display: -webkit-flex; /* Safari */
        display: flex;
        align-items: stretch;
        align-content: stretch;
        flex-grow: 1;
        justify-content: space-around;
        margin-bottom: 0;
        padding-left: 0;
        > li{
            position: relative;
            display: flex;
            -webkit-flex: 1;  /* Safari 6.1+ */
            -ms-flex: 1;  /* IE 10 */
            flex: '1';
            webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-flex-pack: center;
            -ms-justify-content: center;
            justify-content: center;
            > a{
                margin: 18px 5px 18px 5px;
                padding: 4px 0px 4px 0px;
                font: normal 16px / 20px "FreeSans",Helvetica,Arial,Verdana,sans-serif;
                text-transform: uppercase;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: -ms-flex;
                display: flex;
                -webkit-align-items: center;
                -moz-align-items: center;
                -ms-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-align-content: center;
                -moz-align-content: center;
                -ms-align-content: center;
                align-content: center;
                -ms-flex-line-pack: stretch;
                color: #666;
            }
        }
        li{
            a:hover{
                color: #ff0000;
            }
        }
        .selected{
            > a{
                color: #ff0000;
            }
        }
    }
    
    #search-container{
        text-align: center;
        a{
            margin: 10px 1px 20px;
        }
    }
        
}

@media (min-width: 768px){
    
    #header-bar{
        position: relative;
        display: flex;
        align-items: stretch;
        align-content: space-between;
    
        #search-container{
            /*background-color: #ff0000;*/
            height: 100px;
            position: relative;
            font-size: 24px;
            a{
                margin: 27px 1px 0;
            }
            /*span {*/
            /*    background-color: red;*/
            /*    display: inline-block;*/
            /*    height: 100px;*/
            /*    padding: 32px 15px 0;*/
            /*    cursor: pointer;*/
            /*    color: #fff;*/
            /*}*/
            /*span:focus,*/
            /*span:hover{*/
            /*    background-color: #29abe2;*/
            /*}*/
        }
    }
    
}

//slider
#main-slider{
    background-color: #ccc;
    min-height: 40px;
    /*background-image: url(../images/banner.jpg);*/
    /*background-size: cover;*/
    margin-bottom: 20px;
    
    -webkit-box-shadow: inset 0px 5px 10px 0px rgba(102,102,102,0.5);
    -moz-box-shadow: inset 0px 5px 10px 0px rgba(102,102,102,0.5);
    box-shadow: inset 0px 5px 10px 0px rgba(102,102,102,0.5);
}

#main-content{
    margin-top: 40px;
    margin-bottom: 40px;
}

/*post listing*/
.post-listing{
    padding: 20px;
    margin: 0 0 20px;
    background-color: rgba(242,243,243,0.9);
    .post-img{
        float: left;
        img{
            width: 100%;
        }
    }
    .post-content{
        float: right;
        .post-title{
            color: #333;
            font-size: 16px;
            > a{
                color: #333;
            }
            > a:hover{
                color: #29abe2;
            }
        }
        > *{
            margin-left: 20px;
        }
    }
}

/*entry-wicon-listing*/
.entry-wicon-listing{
    position: relative;
    margin-bottom: 20px;
    .entry-icon{
        display: inline-block;
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .entry-content{
        position: absolute;
        top: 0;
        left: 100px;
    }
}

/*footer*/
#footer-container{
    #footer-top{
        background-color: #f9f9f9;
        padding: 40px 0;
        .ftop{
                h4{
                        color: #333;
                        a{
                                color: #333;
                        }
                }
                ul{
                    list-style: none;
                    padding-left: 0;
                    li{
                        padding-top: 5px;
                        a{
                            text-align: inherit;
                            padding-left: 25px;
                        }
                        a:hover{
                            color: #29abe2;
                        }
                        a:before{
                            content: "⬢";
                            position: absolute;
                            font-size: 10px;
                            margin-top: 3px;
                            left: 15px;
                            color: #a7daf2;
                        }
                    }
                }
        }
    }
    #footer-bottom{
        background-color: #ff0000;        
        padding: 20px 0;
        color: #fff;
        
        -webkit-box-shadow: inset 0px 5px 10px 0px rgba(102,102,102,0.5);
        -moz-box-shadow: inset 0px 5px 10px 0px rgba(102,102,102,0.5);
        box-shadow: inset 0px 5px 10px 0px rgba(102,102,102,0.5);
    }
}

/*profile widget*/
.prof-widget{
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    
    .prof-banner{
        min-height: 100px;
        background-color: #f9f9f9;
    }
    .prof-image{
        text-align: center;
        margin-top: -75px;
        margin-bottom: 20px;
        .clip-svg {
        width: 0;
        height: 0;
        }
            
        img {
            max-width: 100%;
            height: auto;
        }
        
        .polygon-clip-hexagon {
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            -webkit-clip-path: url("#polygon-clip-hexagon");
            clip-path: url("#polygon-clip-hexagon");
        }
    }
}
